<!doctype html>

<html>
<head>

	<title>CS 247 - Team PYE</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>

	<div class="container">
		<div class="jumbotron">
			<h1>Team <b>PYE</b></h1>
			<h2>CS 247 - Spring 2014</h2>
			<br />
			<table cellpadding=0 cellspacing=0 width=300>
				<tr>
					<td><p><b>P</b>riya Shekar</p></td>
					<td><p><b>p</b>shekar</p></td>
				</tr>
				<tr>
					<td><p><b>Y</b>iju Hou</p></td>
					<td><p><b>y</b>ijuhou</p></td>
				</tr>
				<tr>
					<td><p><b>E</b>rika Ji</p></td>
					<td><p><b>e</b>rikaji</p></td>
				</tr>
			</table>
		</div>

	    <h3>Project Status</h3>
	    <div class="section">
	        <ul>
	          <li><a href="https://github.com/erikaji/rosebt">Github for Project</a></li>
	          <li><a href="https://github.com/erikaji/teampye_site">Github for Site</a></li>
	          <li><a href="https://docs.google.com/spreadsheet/ccc?key=0Ai2flolFo323dGJVajBlTlh1b0ptQ3ZiejRsYmREdUE&usp=drive_web#gid=0">Implementation Plan</a></li>
	        </ul>
	    </div>

		<h3>Milestones</h3>
		{{#each projects}}
			<div class="project col-md-4" id="{{id}}">
				<div class="thumbnail">
					<a href="/project/{{id}}">
						<img src="images/{{image}}">

						<h4><b>Milestone {{id}}</b>
							<br />{{title}}</h4>
					</a>
				</div>
			</div>
		{{/each}}

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/introHCI.js"></script>
</body>
</html>